.breadcrumb{
    .breadcrumb-link{
        color: $color-dark-light;
        font-size: 15px;
        text-decoration: none;
    }
}

.brandMobileContent{
    .brandMobileName{
        font-size: 25px;
        word-spacing: 1px;
    }

    .mobileModelContent {
        font-size: 15px;
    }

    .proQuantityHeading{
        font-size: 18px;
        margin: 13px 0;
    }

    .avaiSoon{
        width: 100%;
        background-color: #81a6f4;
        padding: 9px;
        margin: 0 20px;
        a{
            color:#f6f6f6f5
        }
    }

    .offersProduct {
        font-size: 14px;
    }
}