// color
$color-grey: #8c8c8c;
$color-dark-light: #424242;


// font size
$font-size-small: 13px;
$font-weight-bold: 600;

//opacity
$opacity-8: .8;

//border-color
$border-color: 1px solid #e4dfdfcc;

// padding
$padding: 30px 10px;

$size-40: 40px;
